name: Register Package

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to register or component to bump
        required: true
        default: "patch"

jobs:
  register:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/RegisterAction@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
